body {
    background-image: url('/resources/images/background.png');
    background-repeat: repeat;
}

.home-title {
    padding-top: 100px;
    text-align: center;
    color: black;
    font-size: 130px;
    font-family: 'Allura';
    font-style: italic;
}

#quote {
    text-align: center;
    font-style: italic;
    color: black;
    font-size: 20px;
}

.menu {
    text-align: center;
    padding: 50px;
}

.btn-home {
    border: 2px solid black;
    border-radius: 50px;
    padding: 13px 60px;
    background-color: transparent;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.btn-home:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.header-menu {
    display: flex;
    flex-direction: row;
}

.header-menu>div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}

.header {
    overflow: hidden;
    padding: 20px 10px;
    border-radius: 25px;
}

.header a {
    float: left;
    color: black;
    padding: 12px;
    font-size: 18px;
}

.header a.pages-title {
    text-align: center;
    color: black;
    font-size: 60px;
    font-family: 'Allura';
    font-style: italic;
}

.header1 a.pages-title {
    text-align: center;
    color: black;
    font-size: 60px;
    font-family: 'Allura';
    font-style: italic;
}

.header-right {
    float: right;
    padding: 13px 60px;
    background-color: transparent;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    background-color: transparent;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.contact {
    display: flex;
    flex-wrap: wrap;
}

.text {
    width: 40%;
    padding: 0px 50px 50px 20px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.form {
    width: 40%;
    padding: 20px 50px 50px 20px;
}

#subject {
    height: 200px;
    width: 100%;
    border: 1px solid #4CAF50;
}

.mywork {
    display: flex;
    flex-wrap: wrap;
}

.projects {
    width: 500px;
    padding: 5px;
    margin-right: 60px;
    margin-left: 60px;
}

.img-projects:hover {
    transform: scale(1.03);
}

.img-projects {
    border-radius: 15px;
}

.title-projects {
    color: black;
    font-weight: bold;
    font-size: 32px;
    font-family: 'Allura';
    font-style: italic;
}

.resume {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px 0 grey;
}

.header1 {
    overflow: hidden;
    background-image: url('/resources/images/background_header.JPG');
    position: fixed;
    width: 100%;
    top: 0%;
}

.header-right a {
    font-size: 17px;
}